.congrats {
    text-align: center;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    font-size: xx-large;
}

body {
    background-image: url('../../../assets/images/confettis.gif');
}

.close-button {
    font-weight: bold;
    height: 30px;
    width: 15%;
    background-color: #6da093;
    color: white;
    border-radius: 10px;
    border-color: #6da093;
    font-family: 'Oleo Script Swash Caps';
    font-size: 15px;
}

.close {
    text-align: center;
}