.chat-box {
  background-color: #f1f1f1;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  height: 90%;
  width: 100%;
}

.chat-box-header {
  border-bottom: 1px solid #ccc;
}


h1{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 15px;
  margin-left: 150px;
}

.chat-box-messages {
  height: 83%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat-box-messages__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message__text {
  background-color: #fff;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.message--sender .message__text {
  background-color: #d1edff;
  align-self: flex-end;
}

.message--received .message__text {
  background-color: #f1f0f0;
}

.message--system .message__text {
  background-color: #d9d9d9;
  font-style: italic;
}

.chat-box-input {
  display: flex;
  height: 40px;
}

#message-input {
  margin-top: 2px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  flex: 1;
  margin-right: 5px;
  margin-left: 2px;
}

.chat-box-input__button {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 2px;
  transition: background-color 0.3s ease;
}

.chat-box-input__button:hover {
  background-color: #3e8e41;
}