<body class="container">
    <button *ngIf="!inReplay" class="quit-button" (click)="goToGiveUp()">Abandonner la partie</button>
    <button *ngIf="inReplay" class="quit-button" (click)="goToHomePage()">Quitter la reprise</button>

    <div class="section">
        <div class="main-container">
            <h2 class="game-info">{{ gameName }} - {{ difficulty }}</h2>
            <p class="game-details">Mode Classique</p>
            <p class="game-details">L' image contient {{ nbDifferences }} différences. 
                Pour gagner vous devez trouver la majorité des différences.
            </p>
            <app-cheat></app-cheat>
        </div>

        <div>
            <canvas #originalImage #gridCanvas (click)="onClick($event)" width="640px" height="480px"></canvas>
        </div>
    </div>

    <div class="section">
        <div class="main-container">
            <div class="game-details">
                <p>{{ hostName }} : {{ nbDifferencesFoundUser1 }} différences trouvées</p>
                <p>{{ guestName }} : {{ nbDifferencesFoundUser2 }} différences trouvées</p>
                <div class="timer">
                    <img src="../../../assets/images/clock.png" class="watch-logo" />
                    <div>
                        <div>{{ minutes.toString().padStart(2, '0') }} :{{ secondes.toString().padStart(2, '0') }}</div>
                    </div>
                    <app-replay-bar *ngIf="this.inReplay"></app-replay-bar>
                </div>
            </div>
        </div>

        <div>
            <canvas #modifiedImage (click)="onClick($event)" width="640px" height="480px"></canvas>
        </div>
    </div>

    <div class="section">
        <app-chat-box></app-chat-box>
    </div>

    <div #popUpWindowLose class="modal">
        <div class="modal-content">
            <h1 class="title">Dommage {{ myUsername }}. Vous n'avais pas été assez rapide, {{ opponentUsername }} a gagné la partie !</h1>
            <div class="pop">
                <button class="button-pop" (click)="goToHomePage()">Fermer</button>
                <button class="button-pop" (click)="onReplay()"> Voir la reprise</button>
            </div>
        </div>
    </div>
</body>
