<body class="container">
    <h1 align="center">
        <font face="times">
            <i> Constantes de jeu </i>
        </font>
    </h1>
    
    <div>
        <button routerLink="/" class="return-button">Retour</button>
    </div>

    <div>
        <p class="constantes">temps initial du compte à rebours (30 secondes)</p> 
        <p class="constantes">temps de pénalité pour l'utilisation d'un indice (5 secondes)</p>
        <p class="constantes">temps gagné avec la découverte d'une différence (5 secondes)</p>
    </div>
</body>