<body class="container">
    <div class="top-bar">
        <button class="configuration" type="button" (click)="goToConfiguration()">Configuration</button>
        <h2 class="note-container">Les images doivent être en format BMP 24-bit de taille 640x480 pixels</h2>
        <div class="tool-label" id="largeur">
            <input #widthPicker (change)="onSetWidth(widthPicker.value)" type="range" id="width" name="width" min="2" max="40" step="2" value="2" />
            <p class="icon-description">Épaisseur</p>
        </div>
        <div class="tool-label">
            <input class="tool-label" #colorPicker (change)="onChangeColor(colorPicker.value)" type="color" id="colorpicker" value="#ff0000" />
            <p class="icon-description">Couleur</p>
        </div>
        <div class="tools-position">
            <button class="tool-button" (click)="changeTool(0)">
                <img class="tool-icons" src="./assets/images/pencil" alt="pencil-icon " />
                <div class="icon-description">
                    <p>Crayon</p>
                    <p class="details">Cliquer puis dessiner sur une image avec</p>
                    <p class="details">la couleur et l'épaisseur sélectionnés</p>
                </div>
            </button>
            <button class="tool-button" (click)="changeTool(1)">
                <img class="tool-icons" src="./assets/images/rectangle.png" alt="rectangle-icon " />
                <div class="icon-description">
                    <p>Rectangle</p>
                    <p class="details">Cliquer puis dessiner sur un rectangle avec</p>
                    <p class="details">la couleur et l'épaisseur sélectionnés.</p>
                    <p class="details">Garder la touche "Shift" appuyée</p>
                    <p class="details">pour obtenir un carré</p>
                </div>
            </button>
            <button class="tool-button" (click)="changeTool(2)">
                <img class="tool-icons" src="./assets/images/eraser (1).png" alt="eraser-icon " />
                <div class="icon-description">
                    <p>Efface</p>
                    <p class="details">Cliquer puis effacer</p>
                    <p class="details">une partie de l'image</p>
                </div>
            </button>
            <button class="tool-button" (click)="onUndo()">
                <img class="tool-icons" src="./assets/images/undo" alt="undo-icon " />
                <div class="icon-description">
                    <p>Revenir en arrière</p>
                    <p class="details">Annuler la dernière action</p>
                </div>
            </button>
            <button class="tool-button" (click)="onRedo()">
                <img class="tool-icons" src="./assets/images/redo" alt="redo-icon " />
                <div class="icon-description">
                    <p>Refaire</p>
                    <p class="details">Aller de l'avant</p>
                </div>
            </button>
        </div>
    </div>

    <div class="images-area">
        <div class="image-container">
            <h1>Image Originale</h1>
            <canvas
                #leftCanvas
                width="640px"
                height="480px"
                (mousedown)="onMouseDown($event, true)"
                (mousemove)="onMouseMove($event, true)"
                (mouseup)="onMouseUp($event, true)"
            ></canvas>
            <div class="buttons">
                <input
                    #leftImageInput
                    id="leftImageInput"
                    type="file"
                    accept="image/bmp"
                    hidden
                    (input)="onUpdateInput(leftImageInput, true, false)"
                />
                <label class="lien" for="leftImageInput">Téléverser une image</label>
                <button type="button" (click)="resetBackground(true)">Réinitialiser arrière-plan</button>
                <button type="button" (click)="onResetForeground(true)">Réinitialiser avant-plan</button>
                <button type="button" (click)="onDuplicate(true)">Dupliquer avant-plan</button>
            </div>
        </div>
        <div class="middle-buttons">
            <input
                #middleImageInput
                id="middleImageInput"
                type="file"
                accept="image/bmp"
                hidden
                (input)="onUpdateInput(middleImageInput, true, true)"
            />
            <label class="lien" for="middleImageInput">Téléverser une image pour les deux canvas</label>
            <button (click)="onSwap()">Intervertir avant-plan</button>
        </div>

        <div class="image-container">
            <h1>Image Modifiée</h1>
            <canvas
                #rightCanvas
                width="640px"
                height="480px"
                (mousedown)="onMouseDown($event, false)"
                (mousemove)="onMouseMove($event, false)"
                (mouseup)="onMouseUp($event, false)"
            ></canvas>
            <div class="buttons">
                <input
                    #rightImageInput
                    id="rightImageInput"
                    type="file"
                    accept="image/bmp"
                    hidden
                    (input)="onUpdateInput(rightImageInput, false, true)"
                />
                <label class="lien" for="rightImageInput">Téléverser une image</label>
                <button type="button" (click)="resetBackground(false)">Réinitialiser arrière-plan</button>
                <button type="button" (click)="onResetForeground(false)">Réinitialiser avant-plan</button>
                <button type="button" (click)="onDuplicate(false)">Dupliquer avant-plan</button>
            </div>
        </div>
    </div>

    <div class="bottom-buttons">
        <!--<button type="button" (click)="modifyRadius(3)">Configurer Rayon</button>-->
        <p>
            <input id="radius-input-0" type="radio" name="radius" (click)="modifyRadius(0)" />
            <label for="radius-input-0">0</label>
            <input id="radius-input-3" type="radio" name="radius" (click)="modifyRadius(3)" checked />
            <label for="radius-input-3">3</label>
            <input id="radius-input-9" type="radio" name="radius" (click)="modifyRadius(9)" />
            <label for="radius-input-9">9</label>
            <input id="radius-input-15" type="radio" name="radius" (click)="modifyRadius(15)" />
            <label for="radius-input-15">15 </label>
        </p>
        <p class="radius">Rayon d'élargissement : {{ radius }}</p>
    </div>
    <div class="test"><button class="validation" (click)="onValidationLaunched()">Valider et créer</button></div>

    <div #popUpWindow class="modal">
        <div class="modal-content">
            <canvas class="modal-canva" #modalCanvas width="640px" height="480px"></canvas>
            <div *ngIf="currentGameData !== undefined">
                <p>Nombre de différences: {{ currentGameData.nbDifferences }}</p>
                <p *ngIf="currentGameData.isDifficult">Difficulté: Difficile</p>
                <p *ngIf="!currentGameData.isDifficult">Difficulté: Facile</p>
                <p class="modal-note" *ngIf="!(currentGameData.nbDifferences >= 3 && currentGameData.nbDifferences <= 9)">
                    Le jeu doit avoir entre 3 et 9 différences pour être validé
                </p>
                <label for="gameName"><b>Entrez votre nom de partie:</b></label>
                <input id="gameName" #gameName type="text" placeholder="Entrez Nom" />
                <div class="modal-buttons">
                    <button class="modal-button" type="button" (click)="onClosingPopUp()">Fermer</button>
                    <button
                        *ngIf="currentGameData.nbDifferences >= 3 && currentGameData.nbDifferences <= 9"
                        type="button"
                        (click)="onSave(gameName)"
                        class="modal-button"
                    >
                        Sauvegarder
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
