<body class="container">
    <div class="top-bar">
        <button class="configuration" type="button" (click)="goToConfiguration()">Configuration</button>
        <span>Emplacement pour les outils</span>
    </div>

    <div class="images-area">
        <div class="image-container">
            <h1> Image Originale </h1>
            <canvas #leftCanvas width="640px" height="480px"></canvas>
            <div class="buttons">
                <input #leftImageInput id="leftImageInput" type="file" accept="image/bmp" hidden (change)="onUpdateLeftImageInput(leftImageInput)" />
                <label class="lien" for="leftImageInput">Choose File</label>
                <button type="button" (click)="resetBackground(true)">Réinitialiser arrière-plan</button>
                <button type="button" (click)="resetForeground(true)">Réinitialiser avant-plan</button>
                <button type="button" (click)="replicateForeground(true)">Dupliquer avant-plan</button>
            </div>
        </div>
        <div class="middle-buttons">
            <input #middleImageInput id="middleImageInput" type="file" accept="image/bmp" hidden (change)="onUpdateMiddleImageInput(middleImageInput)"/>
            <label class="lien" for="middleImageInput">Choose File for both</label>
            <button>Intervertir avant-plan</button>
        </div>
        <div class="image-container">
            <h1> Image Modifiée </h1>
            <canvas #rightCanvas width="640px" height="480px"></canvas>
            <div class="buttons">
                <input #rightImageInput id="rightImageInput" type="file" accept="image/bmp" hidden (change)="onUpdateRightImageInput(rightImageInput)"/>
                <label class="lien" for="rightImageInput">Choose File</label>
                <button type="button" (click)="resetBackground(false)">Réinitialiser arrière-plan</button>
                <button type="button" (click)="resetForeground(false)">Réinitialiser avant-plan</button>
                <button type="button" (click)="replicateForeground(false)">Dupliquer avant-plan</button>
            </div>
        </div>
    </div>

    <div class="bottom-buttons">
        <!--<button type="button" (click)="modifyRadius(3)">Configurer Rayon</button>-->
        <p>
        <input id="radius-input-0" type="radio" name="radius" (click)="modifyRadius(0)" />
        <label for="radius-input-0">0</label>
        <input id="radius-input-1" type="radio" name="radius" (click)="modifyRadius(3)" checked />
        <label for="radius-input-3">3</label>
        <input id="radius-input-9" type="radio" name="radius" (click)="modifyRadius(9)" />
        <label for="radius-input-9">9</label>
        <input id="radius-input-15" type="radio" name="radius" (click)="modifyRadius(15)" />
        <label for="radius-input-15">15 </label>
        </p>
        <p class = "radius"> Current Radius: {{ radius }}</p>
        <p class = "note"> Les images doivent être en format BMP 24-bit de taille 640x480 pixels</p>
    </div>

    <button class ="validation" (click)="onValidationLaunched()">Valider et créer</button>

    <div #popUpWindow class="modal">
        <div class="modal-content">
            <canvas class="modal-canva" #modalCanvas width="640px" height="480px"></canvas>
            <div *ngIf="currentGameData !== undefined">
                <p>Nombre de différences: {{currentGameData.nbDifferences}}</p>
                <p *ngIf="currentGameData.isDifficult">Difficulté: Difficile</p>
                <p *ngIf="!currentGameData.isDifficult">Difficulté: Facile</p>
            <button *ngIf="currentGameData.nbDifferences >= 3 && currentGameData.nbDifferences <=9" type="button" (click)="onSave(gameName)" >Sauvegarder</button>
            <p class="modal-note" *ngIf="!(currentGameData.nbDifferences >= 3 && currentGameData.nbDifferences <=9)"> Le jeu doit avoir entre 3 et 9 différences pour être validé</p>
            </div>
            <label for="gameName"><b>Entrez votre nom de joueur:</b></label>
            <input #gameName type="text" placeholder="Entrez Nom">
            <div class ="modal-buttons">
                <button class="modal-button"> Créer </button>
                <button class="modal-button" type="button" (click)="onClosingPopUp()"> Retour</button>  
            </div>
        </div>  
    </div>

</body>
