<div class="container justified">
    <!-- TODO Trouver un nom pour le jeu-->
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <!-- TODO Trouver un logo pour le jeu-->
    <img src="https://bit.ly/3QofL1J" alt="Logo Projet" />
    <section id="server-message" class="justified">
        <p>Choisir un mode de jeu : {{ message.getValue() }}</p>
        <div class="justified">
            <!--TODO Mettre les routes pour les pages (routerLink)-->
            <button class="button">Classique</button>
            <button class="button">Temps Limité</button>
            <button class="button">Configuration</button>
        </div>
    </section>

    <button class="button" routerLink="/game">Jouer!</button>

    <footer class="footer-item">
        <h4 class="team-name">Équipe N°9</h4>
        <p>
            <span>Selim Bellagha</span>, <span>Benjamin Léveillé</span>, <span>Debanjan Bhaumick</span>, <span>Marcy Sima</span>,
            <span>Yahya Badrane</span>, <span>Asimina Koutsos</span>
        </p>
    </footer>
</div>
