<div class="container justified">
    <!-- TODO Trouver un nom pour le jeu-->
    <h1 class="header-item">Jeu de différences</h1>
    <!-- TODO Trouver un logo pour le jeu-->
    <img src="https://bit.ly/3QofL1J" alt="Logo Projet" />
    <section id="server-message" class="justified">
        <div class="button-group justified">
            <!--TODO Mettre les routes pour les pages (routerLink)-->
            <button class="button" routerLink="/gameSelection">Classique</button> 
            <button class="button" routerLink="/gameSelection">Temps Limité</button> 
            <button class="button" routerLink="/gameSelection">Configuration</button> 
        </div>
    </section>

    <footer class="footer-item">
        <h4 class="team-name">AUTEURS - Équipe N°9</h4>
        <p>
            <span>Selim Bellagha</span>, <span>Benjamin Léveillé</span>, <span>Debanjan Bhaumick</span>, <span>Marcy Sima</span>,
            <span>Yahya Badrane</span>, <span>Asimina Koutsos</span>
        </p>
    </footer>
</div>
