.container {
    min-height: 100vh;
    height: auto;
    background-color: #A2CEC4;
}

img {
    position: fixed;
    top: 0;
    left: 0;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button-group {
    position: fixed;
    top: 40%;
}

.button {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    height: 60px;
    width: 300px;
    background-color: #6DA093;
    color: white;
    border-radius: 10px;
    border-color: #6DA093;
    font-family: 'Oleo Script Swash Caps';   
    font-size: 25px;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #6D5E5E;
    font-weight: bold;
    font-size: 25px;
}

.header-item {
    margin-top: 250px;
    justify-content: center;
    text-align: center;
    color: #6D5E5E;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps';
    font-size: 60px;
    text-shadow: 2px 2px grey;
}

.footer-item {
    text-align: center;
    margin-bottom: 25px;
}

.footer-item p {
    color: #6D5E5E;
    font-size: 20px;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}
