<div class="container justified">
    <h1 class="header-item">Jeu des différences</h1>
    <img src="./assets/images/logo.png" alt="Logo Projet" />
    <section id="server-message" class="justified">
        <div class="button-group justified">
            <button class="button" (click)="goToGameSelection()">Classique</button>
            <button class="button" (click)="goToLimitedTimeGame()">Temps Limité</button>
            <button class="button" (click)="goToConfiguration()">Configuration</button>
        </div>
    </section>

    <footer class="footer-item">
        <h4 class="team-name">AUTEURS - Équipe N°9</h4>
        <p class="team-name">
            <span>Selim Bellagha</span>, <span>Benjamin Léveillé</span>, <span>Debanjan Bhaumick</span>, <span>Marcy Sima</span>,
            <span>Yahya Badrane</span>, <span>Asimina Koutsos</span>
        </p>
    </footer>
</div>
