img {
    position: fixed;
    margin-top: 6%;
    top: 20;
    left: 20;
    max-width: 20%;
    max-height: 20%;
}

.container {
    min-height: 100%;
    background-image: url('../../../assets/images/giphy.gif');
    background-size:15%;

}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button-group {
    position: fixed;
    top: 40%;
}

.button {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    height: 60px;
    width: 300px;
    background-color: #6da093;
    color: white;
    border-radius: 10px;
    border-color: #6da093;
    font-family: 'Oleo Script Swash Caps';
    font-size: 25px;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-weight: bold;
    font-size: 25px;
}

.header-item {
    margin-top: 250px;
    justify-content: center;
    text-align: center;
    color: #6d5e5e;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps';
    font-size: 60px;
    text-shadow: 2px 2px grey;
}

.footer-item {
    text-align: center;
    margin-bottom: 25px;
    color: #000000;
}

.footer-item p {
    font-size: 20px;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}
