<div class="buttons">
    <button class="tool-button" (click)="onPause()">
        <img class="tool-icons" *ngIf="this.pause" src="./assets/images/play-button.png" alt="pause-icon"/>

        <img class="tool-icons" *ngIf="!this.pause"src="./assets/images/video-pause-button.png" alt="pause-icon"/>
        <div class="icon-description">
            <p class="note">Pause/Continuer</p>
        </div>
    </button>

    <button class="tool-button"  (click)="onStart()"> <img class="tool-icons" src="./assets/images/replay.png" alt="replay-icon"/>
        <div class="icon-description">
            <p class="note">Reprendre la reprise du début</p>
        </div>
    </button>

    <button class="tool-button" (click)="onSetSpeed()"> <img class="tool-icons" src="./assets/images/vitesse.png" alt="pencil-icon " />
        <div class="icon-description">
            <p class="note">Cliquer pour changer de vitesse</p>
            <p class>Une fois pour passer à x2</p>
            <p>Une autre fois pour passer à x4</p>
            <p>Une fois de plus pour revenir à x1</p>
        </div>
    </button>

</div>
<div #popUpWindow class="modal">
    <div class="modal-content">
        <h1 class="congrats">Reprise Terminée !</h1>
        <div class="close-button">
            <button id="replay-button" (click)="onReplay()">Retour à la reprise</button>
            <button id="close-button" (click)="goToHomePage()">Quitter la reprise</button>
        </div>
    </div>
</div>
