.container {
    background-color:antiquewhite;
    height: 25%;
    width: 90%;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 3%;
}

.name-text {
    text-align: center;
    font-size:medium;
    padding: 2% 0 2% 0;
}

.name-container {
    height: 50%;
}

button {
    color: white;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.accept-button {
    background-color: green;
    opacity: 0.9;
    margin-right: 5px;
    margin-left: 100px;
}

.refuse-button {
    background-color: red;
    opacity: 0.9;
}
