<head>
    <title>Jeu des differences</title>
</head>
<body class="container">
    <div class="section">
        <div class="score-text">
            <p>
                <span class="underline-title-text">Differences trouvées:</span>
            </p>
            <div>
                <p class="player-score"><span>NomJoueur1:</span><span class="player-name">X</span></p>
                <p class="player-score"><span>NomJoueur2:</span><span class="player-name">X</span></p>
            </div>
        </div>
        <div><img src="stopwatch.png" class="watch-logo" /> Timer</div>
        <div>
            <svg class="picture-container">
                <rect class="picture" />
            </svg>
        </div>
        <div class="button-container">
            <button>Abandonner la partie</button>
        </div>
    </div>
    <div class="section">
        <div class="game-information-text">
            <p class="information-text">
                <span>Informations de la partie :</span>
            </p>
            <div>
                <ul>
                    <li>Nom du jeu</li>
                    <li>Niveau de difficulté</li>
                    <li>Mode de jeu</li>
                    <li>X Differences sur l'image</li>
                </ul>
            </div>
        </div>
        <div>
            <svg class="picture-container">
                <rect class="picture" />
            </svg>
        </div>
        <div style="text-align: center">
            <button>Demander un indice</button>
        </div>
    </div>
    <div class="section">
        <div class="chat-container">
            <p style="text-align: center">
                <span class="title-chat-text">Messages</span>
            </p>
            <div class="message-container">les messages arriveront ici<br /><br /><br /><br />oui</div>
            <div style="text-align: center">
                <input type="text" size="35" style="height: 50px" /><input type="submit" style="vertical-align: bottom" value="Envoyer le message" />
            </div>
        </div>
    </div>
</body>
