<body class="container">
    <button class="quit-button" (click)="returnSelectionPage()"> Abandonner la partie </button>

    <div class="section">
        <div class="main-container">
            <h2 class="game-info">{{gameName}} - {{difficulty}} </h2>
            <p class = "game-details"> Mode classique </p>
            <p class = "game-details">L' image contient {{nbDifferences}} différences</p>
            <button class= "indice">Obtenir un indice</button>  
        </div>

        <div>
            <canvas #leftCanvas width="640px" height="480px"></canvas>
        </div>
    </div>


    <div class="section">
        <div class="main-container">
            <div class = "game-details">
                <p id="penalty">Pénalités pour utilisation d'indice : 00: XX</p>
                <p>Indices restants: X </p>
                <p>Differences trouvées: X</p>
                <div class="timer">
                    <img src="../../../assets/images/stopwatch.png" class="watch-logo" />
                    <div>{{ minutes2 }}{{ minutes1 }}:{{ secondes2 }}{{ secondes1 }}</div>
                 </div>
            </div>
        </div>

        <div>
            <canvas #leftCanvas width="640px" height="480px"></canvas>
        </div>
    </div>

    <div class="section">
        <div class="chat-container">
            <div class ="message-box">
                <p class = "message-title"> Messages </p>
                <hr>
                <p>Bonne chance {{username}} !</p>
                <p> Messages du serveur </p>
            </div>
        </div>
    </div>
    

   
</body>
