<div class="jeu">
    <h2 class="info-jeu">{{ customTitle }} - Niveau : {{ customDifficulty }}</h2>

    <div class="info">
        <div>
            <p style="float: left">
                <img class="image-position" style="vertical-align: top" #image alt="Test" />
            </p>

        <div class = "top3" >TOP 3</div>
        <table class = "place">
        <tr>
            <th>No.</th>
            <th>SOLO</th>
            <th> 1 VS 1 </th>
        </tr>

        <tr>
            <td>🥇</td>
            <td>0:30 Mario </td>
            <td>1:15 Mickey</td>
        </tr>

        <tr>
            <td>🥈</td>
            <td>0:28 Luigi </td>
            <td>1:01 Daisy </td>
        </tr>

        <tr>
            <td>🥉</td>
            <td>0:30 Minnie </td>
            <td class>0:55 Pluto </td>
        </tr>
        </table>
    </div>

    <div class="buttons">
        <div *ngIf="!isConfigurationMode" class="buttons">
            <button (click)="goToLoginPage()">Jouer</button>
            <button disabled="disabled">Créer</button>
        </div>
        <div *ngIf="isConfigurationMode" class="buttons">
            <button disabled="disabled">Supprimer</button>
            <button disabled="disabled">Reinitialiser</button>
        </div>
    </div>
</div>
