<div id="grid-container">
    <button class= "boutton bouttonRetour">Retour</button>
    <p id= "Config">Configuration</p>
    <div id="GridJeux">
        <button class="Boutton-3">Précédent</button>
        <button class="Boutton-3">Suivant</button>
        <div id="GridJeu1">
            <div style=" padding-left: 40%; display: flex; justify-content: center; justify-content: space-around;">
                <p id="titre">JEU #1</p>
                <p id="difficulte">Difficulté</p>
                <img id="image" src="../../../assets/difficulte.png" alt="Image difficulté">
            </div>
            <div style=" padding: 0 2%; display: flex; justify-content: center; justify-content: space-between;">

                <div id="GridImageDuJeu">
                    <img src="" alt="Image du jeu ">
                </div>
                <div id="GridTopScores" >
                    <div style="display: flex; justify-content: center; ">
                        <img id="Image-Couronne" src="../../../assets/couronne.png" alt="Image couronne">
                        <p id="titre-Score">Top Scores</p>
                        <img src="../../../assets/couronne.png" alt="Image couronne">
                    </div>
                    <div class="scores" style="display: flex; justify-content: center; justify-content: space-between;">

                        <div style="display: inline; align-items: center;">
                            <p class="titre-solo">SOLO</p>
                            <div style="display: flex; justify-content: center;">
                                <img src="../../../assets/medaille1.png" alt="Image médaille 1">
                                <p>temps 1</p>
                            </div>
                            <div style="display: flex; justify-content: center;">
                                <img src="../../../assets/medaille2.png" alt="Image médaille 2">
                                <p>temps 2</p>
                            </div>
                            <div style="display: flex; justify-content: center;">
                                <img src="../../../assets/medaille3.png" alt="Image médaille 3">
                                <p>temps 3</p>
                            </div>
                            <button class="boutton-2">SUPPRIMER</button>
                        </div>
                        <div style="display: inline; align-items: center;">
                            <p class="titre-solo">1 VS 1</p>
                            <p>temps 1</p>
                            <p>temps 2</p>
                            <p>temps 3</p>
                            <button class="boutton-2">RÉINITIALISER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: inline; justify-content: center; justify-content: space-between;">
        <button class= "boutton">Créer jeu +</button>
        <button class= "boutton">Définir constantes</button>
        <button class= "boutton">Historique</button>
    </div>

    <div id="GridBoutton" style="display: inline; align-items: center;">
        <p>Boutons affectant toutes les fiches</p>
        <div class="ButtonsContainer">
            <button class= "boutton bouttonFichiers">Supprimer</button>
            <button class= "boutton bouttonFichiers">Réinitialiser Top Scores</button>
            <button class= "boutton bouttonFichiers">Remettre constantes a leurs valeurs par défaut</button>
            <button class= "boutton bouttonFichiers">Effacer historiques</button>
        </div>
    </div>
</div>