
.triche {
    border-color: red;
    border-radius: 6px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.green {
    background-color: rgb(169, 237, 169);
}

.red {
    background-color: red;
}
