.container {
    background-color: #b5d8b5;
    padding: 0 5% 5% 5%;
}

.main-container {
    background-color: #fffafa;
    border: 1px dashed #000000;
    border-radius: 5px;
    min-height: 80%;
    min-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.jeu {
    background-color: #ffa07a;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3%;
}

#nav-buttons {
    text-align: right;
}
