<body class="container">
    <h1 align="center">
        <font face="times">
            <i> Selectionnez une partie: </i>
        </font>
    </h1>

    <div class="main-container">
        <div class="jeu"><h2 align="center">Jeu #1</h2></div>
        <div class="jeu"><h2 align="center">Jeu #2</h2></div>
        <div class="jeu"><h2 align="center">Jeu #3</h2></div>
        <div class="jeu"><h2 align="center">Jeu #4</h2></div>
    </div>

    <div id="buttons">
        <button class="return-button" (click)="goToHomePage()">Retour</button>
        <button>suivant</button>
    </div>
</body>
