<body class="container">
    <h1 align="center">
        <font face="times">
            <i> Selectionnez une partie: </i>
        </font>
    </h1>

    <div>
        <button routerLink="/" class="return-button">Retour</button>
    </div>

    <div class="main-container">
        <app-jeux customTitle = "Jeu 1" customDifficulty="Facile">  </app-jeux>
        <app-jeux customTitle = "Jeu 2" customDifficulty="Moyen">  </app-jeux>
        <app-jeux customTitle = "Jeu 3" customDifficulty="Difficile">  </app-jeux>
        <app-jeux customTitle = "Jeu 4" customDifficulty="Facile">  </app-jeux>
    </div>
    <div class="next-button-align">
        <button>Suivant</button>

    </div>
</body>
