<body class="container">
    <h1 class="title">Selectionnez une partie</h1>

    <button class="main-button" (click)="goToHomePage()">Acceuil</button>

    <div class="main-container">
        <div *ngFor="let game of gamesDisplayed">
            <app-jeux
                [customId]="game.id"
                [customTitle]="game.title"
                [customDifficulty]="game.difficulty"
                [isConfigurationMode]="false"
                [customPhoto]="game.image"
            ></app-jeux>
        </div>
    </div>
    <div class="buttons-align">
        <div *ngIf="hasNextPage === false">
            <button disabled="disabled" >Précédent</button>
            <button disabled="disabled" >Suivant</button>
        </div>

        <div *ngIf="hasNextPage === true">
            <div *ngIf="hasNext === false" class="buttons">
                <button (click)="previous()" id="previousInput">Précédent</button>
                <button disabled="disabled">Suivant</button>
            </div>
            <div *ngIf="hasPrevious === false" class="buttons">
                <button disabled="disabled">Précédent</button>
                <button id="nextInput" (click)="next()">Suivant</button>
            </div>
            <div *ngIf="hasNext === true && hasPrevious === true" class="buttons">
                <button (click)="previous()">Précédent</button>
                <button (click)="next()" id="nextInput">Suivant</button>
            </div>
        </div>
    </div>
</body>
